<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string></string>
				<key>dateExpires</key>
				<string></string>
				<key>type</key>
				<string>Unknown</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>PureLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SQLCipher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>ecp_sync_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>flutter_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>flutter_statusbarcolor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>install_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>screen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BZEX6YJ3D2</string>
						<key>name</key>
						<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>Runner.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BZEX6YJ3D2</string>
				<key>name</key>
				<string>VALUE CHAIN SOLUTIONS (INDIA) PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
